$c_blue_dark: #0c2a35;
$c_blue_light: #53b0d2;
$c_orange: #ff9912;
$box_shadow: 1px 1px 2px 1px rgba(black, 0.3);
* {
	box-sizing: border-box;
}

::selection {
	background: transparent;
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba($c_blue_dark, 0.6);
	border-radius: 2px;
}

html {
	font-size: 12px;
}

body {
	overflow: hidden;
	background-color: $c_blue_dark;
	#map,
	.college--list,
	#map--recenter,
	#college--pane-wrapper {
		filter: blur(0px);
		-moz-filter: blur(0px);
		-webkit-filter: blur(0px);
		transition: 0.5s filter ease-in-out, 0.5s right ease-in-out, 0.5s left ease-in-out, 0.5s padding-bottom ease-in-out;
		transform: translate3d(0,0,0);

	}
	&.modal-active {
		#map,
		.college--list,
		#map--recenter,
		#college--pane-wrapper {
			filter: blur(9px);
			-moz-filter: blur(9px);
			-webkit-filter: blur(9px);
		}
	}
}

body,
html,
#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Lato;
}

iframe {
	border: none;
	margin: 0;
	padding: 0;
}

#info {
	color: $c_blue_dark;
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid currentColor;
	border-radius: 50%;
	text-align: center;
	line-height: 1.4rem;
	opacity: 0.5;
}

#wrapper--about {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: rgba($c_blue_dark, 0.5);
}

#modal--about {
	background: $c_blue_dark;
	color: white;
	padding: 1rem;
	max-width: 35rem;
	border-radius: 3px;
	img {
		display: block;
		margin: 0 auto;
	}
	h2 {
		margin-top: 0;
	}
}

.mapboxgl-ctrl-attrib {
	// display: none;
}

.college--pin {
	img {
		width: 15px;
		height: 15px;
	}
}

.college--list {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -30rem;
	width: 30rem;
	height: 100%;
	overflow: visible;
	background-color: rgba($c_blue_dark, 0.8);
	transition: 0.5s right ease-in-out;
	color: white;
	&.active {
		right: 0rem;
	}
	span {
		display: block;
		width: 100%;
		cursor: pointer;
		line-height: 2;
		overflow: hidden;
		max-height: 2rem;
		transition: 0.5s max-height ease-in-out;
		&.hidden {
			max-height: 0;
		}
	}
}

.list--toggle {
	position: absolute;
	color: $c_blue_dark;
	background-color: $c_blue_light;
	z-index: 999;
	left: -3rem;
	border: none;
	bottom: 0;
	width: 3rem;
	height: 3rem;
	padding: 0;
	text-align: center;
	font-size: 2rem;
	outline: none;
	&:after {
		content: '';
		background-image: url(../img/collapse-icon.svg);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		width: 2rem;
		height: 2rem;
		display: block;
		transform: rotate3d(0,1,0,180deg);
		transition: 0.5s transform ease-in-out;
		margin: 0 auto;
	}
	.college--list.active &:after {
		transform: rotate3d(0,1,0,0deg);
	}
}

.list--filter {
	width: 100%;
	position: absolute;
	bottom: 0;
	list-style-type: none;
	background-color: $c_blue_dark;
	margin: 0;
	padding: 0 0.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	left: 0;
	height: 6rem;
	li {
		padding: 1rem 0.5rem;
		cursor: pointer;
		flex: 1 1 3rem;
		text-align: center;
	}
	i {
		width: 3rem;
		height: 3rem;
		display: block;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
}

.list--wrapper {
	max-height: calc(100% - 10rem);
	position: relative;
	bottom: 0rem;
	overflow-y: scroll;
	padding: 0 1rem;
	[data-college-type]:before {
		content: '';
		width: 1rem;
		height: 1rem;
		display: inline-block;
		background-size: cover;
		margin-right: 0.5rem;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		bottom: 0em;
	}
}
#list--title {
	margin: 0;
	padding: 1rem;
	height: 4rem;
	line-height: 2rem;
	background-color: $c_blue_dark;
	box-shadow: $box_shadow;
}
#college--pane-wrapper {
	display: flex;
	flex-flow: column nowrap;
	z-index: 999;
	width: 25rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: flex-end;
	pointer-events: none;
	background-color: rgba($c_blue_dark, 0.8);
	transition: 0.5s left ease-in-out;
	box-shadow: $box_shadow;
	&.compare--active {
		padding-bottom: 4rem;
	}
	h2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 1rem;
		height: 4rem;
		line-height: 2rem;
		background-color: $c_blue_dark;
		color: white;
		font-size: 1.5em;
		box-sizing: border-box;
		z-index: 999;
		pointer-events: all;
	}
	&.closed {
		left: -25rem;
		&:before {
			content: '';
		}
	}
}

.college--pane {
	background-color: rgba($c_blue_dark, 0.8);
	width: 100%;
	flex: 0 1 auto;
	position: relative;
	pointer-events: all;
	// flex-basis: 100%;
	opacity: 1;
	max-height: 50vh;
	left: 0;
	transition: 0.5s flex-basis linear, 0.5s margin linear, 0.5s left ease-in-out, 0.5s opacity ease-in-out, 0.5s max-height linear;
	&.closed {
		max-height: 6rem;
	}
	&.entering {
		margin-bottom: -6rem;
		.pane--close {
			right: 0.2rem;
		}
	}
	&.exiting {
		left: 100%;
		opacity: 0;
		.pane--close {
			opacity: 0;
		}
		// max-height: 0;
	}
	&.exited {
		max-height: 0;
	}
	& > div,
	header {
		padding: 0 1rem;
	}
	& > div {
		padding-bottom: 1rem;
		max-height: 50vh;
		transition: 0.5s max-height ease-in-out;
		margin-top: 1rem;
	}
	&.closed > div,
	&.entering > div {
		max-height: 0;
		overflow: hidden;
		padding-top: 0;
		padding-bottom: 0;
	}
	header {
		height: 6rem;
		background-color: $c_blue_dark;
		position: relative;
		color: white;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 2px 1px rgba(black, 0.3);
		i {
			width: 4rem;
			height: 4rem;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	h1 {
		margin: 0;
		max-width: 18rem;
		font-family: Roboto Slab;
		font-size: 1.5rem;
		order: 2;
		text-align: left;
		flex: 1 1 auto;
	}
	.pane--close {
		position: absolute;
    right: -3rem;
    top: 0;
		bottom: 0;
		margin: auto;
    background-color: $c_blue_light;
		color: $c_blue_dark;
		width: 3rem;
		height: 3rem;
		font-size: 2rem;
		text-align: center;
		line-height: 3rem;
		padding: 0;
		font-variant: small-caps;
		text-transform: lowercase;
		line-height: 2.5rem;
		box-shadow: $box_shadow;
		opacity: 1;
		box-sizing: border-box;
		transition: 0.5s right ease-in-out, 0.5s opacity ease-in-out;
		&:after {
			content: '';
			background-image: url(../img/close-icon.svg);
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			width: 1.5rem;
	    height: 1.5rem;
	    display: block;
	    margin: 0.75rem auto;
		}
	}
	.college--info {
		width: 100%;
		display: block;
		margin: 0.5rem auto;
		color: $c_orange;
		.info--title {
			color: white;
		}
	}
}

.college--video:after {
	content: '';
	background-image: url(../img/video-icon.svg);
	width: 1.5em;
	height: 1.5em;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	margin-left: 0.5rem;
	margin-bottom: -0.25em;
	margin-top: -0.25em;

}

#layers {
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
}

#map--recenter {
	position: fixed;
	bottom: 1rem;
	left: 0;
	right: 0;
	margin: auto;
	width: 5rem;
	height: 5rem;
	text-align: center;
	line-height: 3rem;
	border-radius: 50%;
	box-shadow: $box_shadow;
	// background: $c_blue_light;
	svg {
		width: 100%;
		height: 100%;
	}
}


.modal--replace-pane {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($c_blue_dark,0.8);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	.college--pane {
		width: auto;
		flex: 0 1 25rem;
		height: 50%;
	}
}

.modal--video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: rgba($c_blue_dark, 0.8);
	box-shadow: 0 0 20vh 5vh $c_blue_dark inset;
	iframe {
		width: 60rem;
		height: 40rem;
		box-shadow: $box_shadow;
	}
}


.modal--max-colleges {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999999;
	text-align: center;
	height: 7rem;
	font-size: 2rem;
	background-color: $c_blue_dark;
	color: white;
	max-width: 35rem;
	line-height: 3rem;
	padding: 0.25rem;
	pointer-events: none;
}

.compare--toggle {
	position: absolute;
	bottom: -4rem;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 1rem;
	height: 4rem;
	line-height: 2rem;
	background-color: $c_blue_dark;
	color: white;
	font-size: 1.5em;
	box-sizing: border-box;
	z-index: 999;
	pointer-events: all;
	transition: 0.5s bottom ease-in-out;
	.compare--active & {
		bottom: 0;
	}
	&:after {
		content: '';
		background-image: url(../img/compare-icon.svg);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		width: 2.5rem;
		height: 2.5rem;
		display: block;
		margin: 0.75rem auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1rem;
		padding: 0;
	}
}

.compare--wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(8, 32, 38, 0.8);
	z-index: 999999;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 20vh 5vh $c_blue_dark inset;
}
.college--compare {
	background-color: $c_blue_dark;
	color: white;
	// font-size: 1.5rem;
	padding: 1rem;
	table-layout: fixed;
	border-collapse: collapse;
	box-shadow: $box_shadow;
	// border-top: 1rem solid $c_blue_dark;
	thead {
		font-family: Roboto Slab;
		padding-top: 1rem;
		padding-bottom: 1rem;
		td {
			position: relative;
			vertical-align: middle;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			img {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				max-width: 3rem;
				height: 100%;
			}
			&:first-of-type {
				img {
					position: relative;
					// display: block;
					// height: 2rem;
					// margin: 1rem 0 1rem 15rem;
				}
			}
		}
	}
	tbody {
		background-color: #0a4954;
		tr:last-of-type {
			td {
				padding-bottom: 1rem;
			}
		}
	}
	td {
		padding: 0.5rem;
		padding-left: 3rem;
		max-width: 19rem;
		width: 19rem;
		vertical-align: top;
		&:first-of-type {
			background-color: $c_blue_dark;
			// color: white;
			text-align: right;
			color: $c_blue_light;
			max-width: none;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

#north {
  transform-origin: 50% 80%;
	transform: rotateZ(0deg);
	transition: 0.1s transform linear;
}

.icon--csu,
[data-college-type=csu]:before {
	background-image: url(../img/college-csu-map.svg);
	&:hover {
		background-image: url(../img/college-csu-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-csu-menu.svg);
	}
}
.icon--private,
[data-college-type=private]:before {
	background-image: url(../img/college-private-map.svg);
	&:hover {
		background-image: url(../img/college-private-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-private-menu.svg);
	}
}
.icon--uc,
[data-college-type=uc]:before {
	background-image: url(../img/college-uc-map.svg);
	&:hover {
		background-image: url(../img/college-uc-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-uc-menu.svg);
	}
}
.icon--community,
[data-college-type=community]:before {
	background-image: url(../img/college-community-map.svg);
	&:hover {
		background-image: url(../img/college-community-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-community-menu.svg);
	}
}
.icon--all {
	background-image: url(../img/college-all-map.svg);
	&:hover {
		background-image: url(../img/college-all-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-all-menu.svg);
	}
}


.icon--visible {
	background-image: url(../img/college-visible-map.svg);
	&:hover {
		background-image: url(../img/college-visible-menu-hover.svg);
	}
	.filter--active &,
	.college--pane & {
		background-image: url(../img/college-visible-menu.svg);
	}
}
